<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev-Dream</title>
    <link rel="stylesheet" href="./style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section class="glass">
            <div class="dashboard">
                <div class="user">
                    <img src="./img/menu/avatar.jpg" alt="avatar" class="avatar">
                    <div class="description">
                        <div class="username">Ruslan Korneev</div>
                        <div class="user-description">Full-Stack Developer</div>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-item">
                        <img src="./img/menu/homepage.svg" alt="homepage" class="homepage-icon" width="30">
                        <a href="index.html">Home Page</a>
                    </div>
                    <div class="menu-item">
                        <img src="./img/menu/products.svg" alt="products" class="products-icon" width="30">
                        <a href="products.html">Products</a>
                    </div>
                    <div class="menu-item">
                        <img src="./img/menu/contacts.svg" alt="contacts" class="contacts-icon" width="30">
                        <a href="contacts.html">Contacts</a>
                    </div>
                </div>
                <div class="brand">
                    <h3>Dev-Dream</h3>
                </div>
            </div>
            <div class="content">
                <div class="content-title">
                    <h1>Home Page</h1>
                </div>
            </div>
        </section>
    </main>
    <div class="circle1"></div>
    <div class="circle2"></div>
</body>
</html>
